<?php

declare(strict_types=1);

use Los\RequestId\Generator\Uuid4Generator;
use Los\RequestId\RequestId;
use Los\RequestId\RequestIdFactory;
use Los\RequestId\RequestIdGenerator;

return [
    'los' => [
        'request_id' => [
            'attribute_name' => RequestId::ATTRIBUTE_NAME,
            'header_name' => RequestId::HEADER_NAME,
            'inbound_id_policy' => 'accept',
            'max_id_length' => 128,
            'use_traceparent' => false,
        ],
    ],
    'dependencies' => [
        'factories' => [
            RequestId::class => RequestIdFactory::class,
        ],
        'invokables' => [
            RequestIdGenerator::class => Uuid4Generator::class,
        ],
    ],
];
