<?php

return [

    'los_request_id' => [
        'uuid' => false,
        'uuid_version' => 4,
        'uuid_ns' => null,
        'uuid_name' => null,
        'allow_override' => false,
        'header_name' => LosMiddleware\RequestId\RequestId::HEADER_NAME,
    ],

    'dependencies' => [
        'factories' => [
            LosMiddleware\RequestId\RequestId::class => LosMiddleware\RequestId\RequestIdFactory::class,
        ],
    ],

    'middleware_pipeline' => [
        'pre' => [
            'middleware' => [
                [ 'middleware' => LosMiddleware\RequestId\RequestId::class ],
            ],
            'priority' => 10001,
        ],
    ],

];
