<?php

return [
    'los' => [
        'request_id' => [
            'allow_override' => false,
            'header_name' => Los\RequestId\RequestId::HEADER_NAME,
        ],
    ],
    'dependencies' => [
        'factories' => [
            Los\RequestId\RequestId::class => Los\RequestId\RequestIdFactory::class,
        ],
        'invokables' => [
            Los\RequestId\RequestIdGenerator::class => Los\RequestId\Generator\Uuid4Generator::class,
        ]
    ],
];
